<!--
    templateType: page
    label: Basic Page
    isAvailableForNewContent: true
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ content.html_title }}</title>
    <meta name="description" content="{{ content.meta_description }}">

    {{ require_css(get_asset_url("../css/main.css")) }}
    {{ require_css(get_asset_url("../css/output.css")) }}
    {{ require_css(get_asset_url("../css/layout.css")) }}

    {{ standard_header_includes }}
  </head>
  <body>

      {% block header %}
        {% global_partial path="cert-theme/templates/partials/header.html" %}
      {% endblock header %}
      <h1 class="text-green-200 hover:text-red-500">Tailwind Test</h1>

      {% dnd_area "no_structure", label="No Structure" %}
      {% end_dnd_area %}


    {% block footer %}
      {% global_partial path="cert-theme/templates/partials/footer.html" %}
    {% endblock footer %}
    {{ standard_footer_includes }}
  </body>
</html>
